@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
  font-family: "Nunito", sans-serif;
}

a {
  @apply text-blue-700 underline;
}

h1,
h2,
h3 {
  @apply text-lg font-black uppercase tracking-wide;
}

ul:not(:last-child),
ol:not(:last-child),
p:not(:last-child) {
  @apply mb-4;
}

ol {
  @apply pl-6;
}

ol {
  @apply list-decimal;
}

li {
  @apply mb-1;
}

.recipe li {
  @apply mb-3;
}

li:last-of-type {
  @apply mb-0;
}

li > p {
  @apply mb-0;
}
